
@{
    ViewBag.Title = "Inicio de sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<form id="formAction" action="@Url.Action("Index", "Home")">
    <div class="form-group">
        <label for="username">Nombre</label>
        <input class="form-control" id="username" type="text" placeholder="Nombre de usuario" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input class="form-control" id="password" type="password" placeholder="Contraseña" />
    </div>
    <input class="btn btn-primary" id="submitButton" type="submit" value="Login" />
    <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Cancelar</a>
</form>
@section scripts{
    <script type="text/javascript">
        var url = 'api/login/authenticate';
        var contentType = 'application/x-www-form-urlencoded';
        $(function () {
            $('#submitButton').bind("click", ExecutePost);
        });
        function GetData() {
            return { username: $('#username').val(), password: $('#password').val() };
        }
        function ExecutePost() {
            var data = GetData();
            GeneralRequest(data, 'POST', url, contentType);
        }
    </script>
}