
@{
    ViewBag.Title = "¿Borrar estudiante?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<form id="formAction" action="@Url.Action("Index", "Main")">
    <ul class="list-group">
        <li class="list-group-item disabled" id="id"></li>
        <li class="list-group-item disabled" id="name"></li>
        <li class="list-group-item disabled" id="lastname"></li>
        <li class="list-group-item disabled" id="term"></li>
    </ul>
    <input class="btn btn-primary" id="submitButton" type="submit" value="Borrar" />
    <a class="btn btn-danger" href="Index">Cancelar</a>
</form>


@section scripts{
    <script type="text/javascript">
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        };
        var value = $.urlParam('id');
        var url = '/api/student';
        $(function () {
            $.getJSON(`/api/student/id=${value}`, function (studentsJsonPayload) {
                $(studentsJsonPayload).each(function (index, item) {
                    $('#id').text(`${item.ID}`);
                    $('#name').text(`${item.Name}`);
                    $('#lastname').text(`${item.LastName}`);
                    $('#term').text(`${item.Term}`);
                    $('#submitButton').bind("click", ExecuteDelete);
                });
            });
        });
        function GetData() {
            return { id: $('#id').text(), name: $('#name').text(), lastname: $('#lastname').text(), term: $('#term').text() };
        }
        function ExecuteDelete() {
            var data = GetData();
            GeneralRequest(data, 'DELETE', url);
        }
    </script>
}