
@{
    ViewBag.Title = "Control de alumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<form id="formAction" action="@Url.Action("Index", "Main")">
    <div class="form-group">
        <label for="id">Identificador</label>
        <input class="form-control" id="id" type="text" placeholder="Id" disabled/>
    </div>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control" id="name" type="text" placeholder="Nombre" />
    </div>

    <div class="form-group">
        <label for="lastname">Apellidos</label>
        <input class="form-control" id="lastname" type="text" placeholder="Apellidos" />
    </div>

    <div class="form-group">
        <label for="term">Periodo</label>
        <input class="form-control" id="term" type="text" placeholder="Periodo" />
    </div>

    <input class="btn btn-primary" id="submitButton" type="submit" value="Guardar" />
    <a class="btn btn-danger" href="Index">Cancelar</a>
</form>

@section scripts{
    <script type="text/javascript">
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results[1] || 0;
        };
        var value = $.urlParam('id');
        var url = '/api/student';
        $(function () {
            if (value != 0) {
                $.getJSON(`/api/student/id=${value}`, function (studentsJsonPayload) {
                    $(studentsJsonPayload).each(function (index, item) {
                        $('#id').val(`${item.ID}`);
                        $('#name').val(`${item.Name}`);
                        $('#lastname').val(`${item.LastName}`);
                        $('#term').val(`${item.Term}`);
                        $('#submitButton').bind("click", ExecutePut);
                    });
                });
            } else {
                $('#submitButton').bind("click", ExecutePost);
            }
        });
        function GetData() {
            return { id: $('#id').val(), name: $('#name').val(), lastname: $('#lastname').val(), term: $('#term').val() };
        }
        function ExecutePut() {
            var data = GetData();
            GeneralRequest(data, 'PUT', url);
        }
        function ExecutePost() {
            var data = GetData();
            GeneralRequest(data, 'POST', url);
        }
    </script>
}