<p class="h1 text-center text-info">Prueba de exámen para Renault</p>
<blockquote class="blockquote text-center">
    <p class="mb-0">“Everyone should learn to program a computer because it teaches you how to think.”</p>
    <footer class="blockquote-footer">Steve Jobs</footer>
</blockquote>